<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.BackendUserMapper" >
  <resultMap id="BaseResultMap" type="com.example.loandemo.model.BackendUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="productId" property="productId" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="BIGINT" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="lastLoginTime" property="lastLoginTime" jdbcType="BIGINT" />
    <result column="firstLoginTime" property="firstLoginTime" jdbcType="BIGINT" />
    <result column="locked" property="locked" jdbcType="BIT" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="realName" property="realName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, productId, userId, password, lastLoginTime, firstLoginTime, locked, uid, realName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_backend_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_backend_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.loandemo.model.BackendUser" >
    insert into tb_backend_user (id, productId, userId, 
      password, lastLoginTime, firstLoginTime, 
      locked, uid, realName)
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, 
      #{password,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=BIGINT}, #{firstLoginTime,jdbcType=BIGINT}, 
      #{locked,jdbcType=BIT}, #{uid,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.loandemo.model.BackendUser" >
    insert into tb_backend_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        productId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="lastLoginTime != null" >
        lastLoginTime,
      </if>
      <if test="firstLoginTime != null" >
        firstLoginTime,
      </if>
      <if test="locked != null" >
        locked,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="realName != null" >
        realName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=BIGINT},
      </if>
      <if test="firstLoginTime != null" >
        #{firstLoginTime,jdbcType=BIGINT},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=BIT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.loandemo.model.BackendUser" >
    update tb_backend_user
    <set >
      <if test="productId != null" >
        productId = #{productId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=BIGINT},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        lastLoginTime = #{lastLoginTime,jdbcType=BIGINT},
      </if>
      <if test="firstLoginTime != null" >
        firstLoginTime = #{firstLoginTime,jdbcType=BIGINT},
      </if>
      <if test="locked != null" >
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        realName = #{realName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.loandemo.model.BackendUser" >
    update tb_backend_user
    set productId = #{productId,jdbcType=INTEGER},
      userId = #{userId,jdbcType=BIGINT},
      password = #{password,jdbcType=VARCHAR},
      lastLoginTime = #{lastLoginTime,jdbcType=BIGINT},
      firstLoginTime = #{firstLoginTime,jdbcType=BIGINT},
      locked = #{locked,jdbcType=BIT},
      uid = #{uid,jdbcType=VARCHAR},
      realName = #{realName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>